html {
  font-size:18px;
}

body {
font-family: 'Comfortaa', cursive;
}

.days {
  display:flex;
  margin: 3rem auto 0 auto;
  justify-content: center;
  align-items: center;
  width:50%;
  }

.counter {
  display: flex;
  justify-content: center;
  align-items:center;
  margin-right: 2rem;

}

input {
  font-family: 'Indie Flower', cursive;
  color:midnightblue;
  text-align:center;
  border: 2px firebrick solid;
  border-radius:5px;
  opacity:1;
  font-size:10rem;
  height: 175px;
  width: 175px;
  }

.daytext {
  font-size:6rem;
}


.buttons {
  display:flex;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.buttons button {
  color:white;
  background-color:firebrick;
  width: 7.5%;
  padding: 0.5rem;
  margin:0 1rem ;
  text-align: center;
  border-radius:5px;
}

button:hover{
  background-color:salmon;
}

.text {
  display:flex;
  margin: 0rem auto;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-align: center;
  line-height: 4.5rem;
}

.text span{
flex-grow:1;
}




@media screen and (max-width:800px) {


  .counter {
    margin-right:0;
    margin-bottom: 1.5rem;
    }

  input {
    font-size:7rem;
    height:125px;
    width:125px;
  }
  .days {
    flex-direction:column;
  }

  .daytext {
    font-size:2rem;
    margin-bottom:0.5rem;
  }

  .text {
    width: 95%;
    font-size:1rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
  }

  .buttons button {
    width: 40%;
    font-size:1rem;
    margin:0.25rem;
      }
  .buttons {
    flex-direction:column-reverse;
    padding:0;
    margin:0;
  }
}
